$path:                        '/fonts';
$question-top:                -54px;

$body-bg:                     #22264C !default;
$font-family-sans-serif:      'vazir', 'Tahoma', 'Arial', 'sans-serif' !default;
$font-family-monospace:       $font-family-sans-serif !default;
$font-family-base:            $font-family-sans-serif !default;
$enable-shadows:              true !default;
